* {
  margin: 0px;
  padding: 0px;
}
.lc {
 color: #EEEEEE;
}

.hp{
  font-family: 'Montserrat', sans-serif;
}
.icon {
  color: white;
  padding-left: 100px;
}
#about {
  background-color: #334257;
}

.icon:hover { 
  color: #2cd6f0;
}

.bigLink {
  font-size: 2rem;
}
.mpb {
  padding-bottom: 5rem;
}

.underRow {
 
  display: flex;
  justify-content:flex-end;
}

#exp {
  background-color: grey3333333;
}


#heading {
  height: 700px;
  z-index: 0;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imgs/jan-senderek-_v5kxvrRFo4-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.c {
  z-index: 2;
  padding-top: 20rem;
}
.img {
  width:450px;
  height: 450px;
}
.imgRow {
  display: flex;
  justify-content: space-around;
}
.techImg {
  height: 60%;
  width: 60%;
}


.pro {
  margin-left: 5rem;
}
.link1 {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}
.link1:hover {
  color: black;
}

 #exp {
  background-color: #EEEEEE;
 }
.projectGrid {
  display: flex;
  justify-content: space-around;
}
.bottomRow {
  color:white;
  display: flex;
  justify-content: space-between;
}
#myBtn {
  cursor: pointer;
  color:white;
  margin-left: 48%;
  padding-top: 30px;
}


#myBtn:hover {
  color: red;
}
.close {
  margin-bottom: -25px;
}
#projects {
  background-color: #476072;
}

.projectImg {
  height: 100%;
  width: 100%;
}



.link {
  padding-left: 15%;
}

.link2 {
  padding-left: 50%;
} 


.lang {
 padding: 1rem 50px;
}
