* {
  margin: 0px;
  padding: 0px;
}
.icon {
  color: white;
}

.bigLink {
  font-size: 2rem;
}
.mpb {
  padding-bottom: 5rem;
}

.underRow {
 
  display: flex;
  justify-content:flex-end;
}


#heading {
  height: 700px;
  background-image: url("imgs/jan-senderek-_v5kxvrRFo4-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.c {
  padding-top: 20rem;
}
.img {
  width:350px;
  height: 350px;
}
.imgRow {
  display: flex;
  justify-content: space-around;
}
.techImg {
  height: 100px;
  width: 100px;
}

.pro {
  margin-left: 5rem;
}
.link1 {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}
.link1:hover {
  color: black;
}


.projectGrid {
  display: flex;
  justify-content: space-around;
}
.bottomRow {
  color:white;
  display: flex;
  justify-content: space-between;
}
#myBtn {
  cursor: pointer;
  color:white;
  margin-left: 48%;
  padding-top: 30px;
}

#myBtn:hover {
  color: red;
}
.close {
  margin-bottom: -25px;
}
#projects {
  background-color: aqua;
}

.projectImg {
  height: 250px;
  width: 350px;
}

.icon:hover {
  color: aqua;
}
