* {
  margin: 0px;
  padding: 0px;
}
.icon {
  color: white;
  padding-left: 100px;
}

.icon:hover { 
  color: #2cd6f0;
}

.bigLink {
  font-size: 2rem;
}
.mpb {
  padding-bottom: 5rem;
}

.underRow {
 
  display: flex;
  justify-content:flex-end;
}


#heading {
  height: 700px;
  background-image: url("imgs/jan-senderek-_v5kxvrRFo4-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.c {
  padding-top: 20rem;
}
.img {
  width:450px;
  height: 450px;
}
.imgRow {
  display: flex;
  justify-content: space-around;
}
.techImg {
  height: 60%;
  width: 60%;
}


.pro {
  margin-left: 5rem;
}
.link1 {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}
.link1:hover {
  color: black;
}


.projectGrid {
  display: flex;
  justify-content: space-around;
}
.bottomRow {
  color:white;
  display: flex;
  justify-content: space-between;
}
#myBtn {
  cursor: pointer;
  color:white;
  margin-left: 48%;
  padding-top: 30px;
}


#myBtn:hover {
  color: red;
}
.close {
  margin-bottom: -25px;
}
#projects {
  background-color: #2cd6f0;
}

.projectImg {
  height: 100%;
  width: 100%;
}



.link {
  padding-left: 15%;
}

.link2 {
  padding-left: 50%;
} 


.lang {
 padding: 1rem 50px;
}
.words {
  
}